<footer>
  <div>
    <img src="./assets/logo.svg" alt="PetLife" />
    <p>
      Cuidando com amor, vivendo com alegria: PetLife, onde a vida dos pets é
      mais feliz!
    </p>
  </div>
  <div id="links">
    <strong class="titulo">Links rápidos</strong>
    <nav>
      <a href="#inicio">Início</a>
      <a href="#clinica">Clínica</a>
      <a href="#farmacia">Farmácia</a>
      <a href="#duvidas">Dúvidas</a>
    </nav>
  </div>
  <div>
    <strong class="titulo">Encontre-nos</strong>
    <p>
      WhatsApp:
      <a href="https://wa.me/5585999999999" target="_blank">(85) 99999-9999</a>
    </p>
    <p>
      Email:
      <a href="mailto:contato@petlife.com.br">{{ "contato@petlife.com.br" }}</a>
    </p>
    <p>Endereço: Virgílio Távora, 366</p>
  </div>
</footer>
